<server description="Sample Liberty server">

  <featureManager>
    <platform>jakartaee-10.0</platform>
    <platform>microprofile-6.1</platform>
    <feature>restfulWS</feature>
    <feature>jsonp</feature>
    <feature>jsonb</feature>
    <feature>cdi</feature>
    <feature>mpConfig</feature>
    <feature>mpRestClient</feature>
    <feature>mpOpenAPI</feature>
  </featureManager>

  <variable name="http.port" defaultValue="9080"/>
  <variable name="https.port" defaultValue="9443"/>

  <httpEndpoint httpPort="${http.port}" httpsPort="${https.port}"
      id="defaultHttpEndpoint" host="*" />

  <!-- <logging traceSpecification="com.ibm.ws.microprofile.openapi.*=all"/> -->

  <webApplication location="guide-microprofile-openapi.war" contextRoot="/" />

</server>
